@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Sweet Sans Pro';
    src: url('../fonts/SweetSansProRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lovely Flowers';
    src: url('../fonts/Lovely\ Flowers.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

body {
    overflow-x: hidden;
}

:root {
    --lightBackgroundColor: #FAF8F4;
    --brownTextColor: #56423C;
    --blackTextColor: #272526;
    --primaryButtonColor: #E9DCCA;
    --mainColor: #29335c;
    --mainColorLight: #5767aa;
    --secondaryColor: #db2b39;
    --textColor: #332A1C;

    --buttonFont: 'Sweet Sans Pro', sans-serif;
}

/* ////////// Navbar ////////// */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: transparent;
    color: var(--textColor);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

nav a {
    margin: 0 2rem;
    color: var(--blackTextColor);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Sweet Sans Pro', sans-serif;
    letter-spacing: 0.2em;
    font-size: 0.85em;
}

nav a:hover {
    color: var(--secondaryColor);
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

.logo {
    width: 10em;
}

/* ////////// Hero ////////// */

.heroSquareBackground {
    background-color: rgba(250, 248, 244, 0.94); /* Adjust the RGB values and alpha (transparency) as needed */
    width: 50%; 
    height: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
}

.hero {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/ally-health-obgyn.appspot.com/o/estelleHeroImg.png?alt=media&token=7deb7964-49fc-4ecc-b5ea-67c17beb4f24'); /* Update with the path to your image */
    background-size: cover;
    background-position: center;
    height: 100vh;
   
  }
  
  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Transparent background */
    z-index: 1;
  }
  
  .heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    color: black;
    text-align: center;
    height: 100%;
    padding: 15%;
    
  }

  .h1Text {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2em;
    color: var(--brownTextColor);
    letter-spacing: 0.13em;
    padding-bottom: 4%;
}

.bodyText {
    font-family: "Montserrat", sans-serif; 
    color: var(--brownTextColor);
    letter-spacing: 0.05em;
    font-weight: 300;
    padding-bottom: 6%;
    font-size: 1.1em;

}

/* Button */
.primaryButton {
    background-color: var(--primaryButtonColor);
    color: var(--blackTextColor);
    font-family: var(--buttonFont);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: none;
    padding: 14px 40px;
    cursor: grab;
}

/* ////////// Overview ////////// */
.overview {
  display: flex;
  background-color: var(--lightBackgroundColor);
}

.overviewPhoto {
  flex: 1.4;
  margin-right: 20px; /* Adjust as needed */
}

.overviewImg {
    width: 100%;
    padding: 14%;
}

.overviewTextBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--blackTextColor); 
  font-family: 'Titillium Web', sans-serif; 
  margin-right: 8%;
}

.overviewText h2 {
  font-family: 'Titillium Web', sans-serif; /* Adjust font as needed */
  font-weight: bold;
  margin-bottom: 20px;
}

.overviewText p {
  margin-bottom: 20px;
}

.overviewButton {
  padding: 10px 20px;
  background-color: var(--primaryButtonColor);
  color: var(--blackTextColor);
  border: none;
  cursor: pointer;
  font-family: var(--buttonFont);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: background-color 0.3s;
}

.overviewButton:hover {
  background-color: var(--secondaryColor);
}

.cursiveText {
    font-family: 'Lovely Flowers', serif;
    color: var(--brownTextColor);
    font-weight: 100;
    padding-bottom: 4%;
}

.h2Text {
    font-family: "Montserrat", sans-serif; 
    color: var(--brownTextColor);
    letter-spacing: 0.05em;
    font-weight: 300;
    padding-bottom: 4%;
    font-size: 1.4em;
    margin-right: 15%;
}




@media only screen and (max-width: 1024px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
    }

    header .responsive_nav {
        transform: translateY(100vh);
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a {
        font-size: 1.5rem;
    }
}
